.App {
  text-align: center;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw;
}
button{
  margin: 2vw;
  border: none;
  border-radius: 2vw;
  padding: 2vw;
  transition: all 0.1s ease;
}
button:hover{
  background: rgb(0, 132, 255);
  transform: rotate(360deg);
  transform: scale(1.1);
}
button:active{
  background: rgb(2, 88, 169);
  transform: rotate(360deg);
  transform: scale(0.9);
}